Options +FollowSymLinks
IndexIgnore *
# Turn on the RewriteEngine
RewriteEngine On
#  Rules
RewriteCond %{REQUEST_URI} !^/assets
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]
